.hover-white:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
}

.color-white {
    color: white;
}

main {
    text-align: center;
    padding: 20px;
}

header img{
    margin-left: 20px;
}

header ul{
    margin-left: 20px;
}

.game-title h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.materi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.materi .arrow {
    font-size: 2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.materi .content-box {
    width: 300px;
    height: 200px;
    background-color: #ccc;
    margin: 0 20px;
}

.games h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.game-options {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.game-options button {
    padding: 10px 20px;
    background-color: #888;
    color: white;
    border: none;
    cursor: pointer;
}

.quiz h2 {
    font-size: 2em;
    margin-top: 50px;
}

.quiz-button {
    padding: 15px 30px;
    background-color: #888;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-custom {
    background-color: #00a676;
    color: white;
    width: 200px;
}

.btn-custom:hover {
    background-color: #008f5a;
    color: white;
}

.text-justify {
    text-align: justify;
}

#materi {
    padding-bottom: 40px;
}


main#section-materi{
    background-color: rgb(0, 3, 15);
}

bg-black{
    background-color: #000A1F;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #001f3f; /* Warna dasar gelap (biru navy) */
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #003366, #001f3f, #004080, #0077b6);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #003366, #001f3f, #004080, #0077b6);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
